
// colors

$lightgray : #a0a2a4;
$rosered : #f58465;
$turqouise : #52bab4;
$dirtywhite : #fafafa;
$white : white;
$yellowgold : #e0ab26;
$transparent : transparent;


// fonts
$primary : 'Lato', sans-serif;
$secondary : 'Oswald', sans-serif;


// breakpoint
$tabletBREAK : 768px;
$desktopBREAK : 1024px;
