h2 {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
}

.main-content {
  @extend %margin-1;
  @extend %centered;
  background-color: $white2;
  @extend %pad-10-20;
    
    @media #{$brk-wide} {
        margin: 0 auto;
		background-color: $white2;
		max-width: 100%;
    }
}

.container h3 {
  font-size: 1.4em;
	font-weight: normal;
}

.container p {
  padding: 5px 30px 30px;
}

.final-content {
  @extend %centered;
  margin: 10px auto;
  background-color: $white2;
  @extend %pad-10-20;
}
.skill-list li {
  @extend %br-6;
  display: inline-block;
  padding: 5px 10px;
  background: $light-grey;
  color: $white2;
  margin: 6px;
}

.hobbies-list li {
  @extend %br-6;
  display: inline-block;
  padding: 5px 10px;
  background: $light-blue;
  color: $white2;
  margin: 6px;
}



/* ---- containers ---- */

.contact {
	text-align: center;
	padding: 10px 15px;
	margin: 10px auto;
}

.contact table {
	@extend %margin-1;
}

.contact td {
	padding-left: 15px;
	text-align: left;
}


/*---- New Decorations/Items -----*/

    .main-description {
        @media #{$brk-narrow}{
		  max-width: 95%;
        }
        @media #{$brk-wide}{
            max-width: 100%;
            padding: 30px;
            margin-bottom: 30px;
       }
    }

	.profile-picture {
        @media #{$brk-narrow}{
            max-width: 50%;
            float: right;
            margin: 0 auto;
            padding: 0;
	}
}
	.description-text {
        @media #{$brk-narrow}{
            max-width: 50%;
            margin: 0 auto;
            padding: 1em;
            float: left;
            font-size: 1.2em;
            text-align: left;
	}
        @media #{$brk-wide}{
            font-size: 1.3em;
		    padding-left: 0;
        }
}

	.container {
        @media #{$brk-narrow}{
		max-width: 50%;
		float: left;
		padding: 10px;
	}
        @media #{$brk-wide} {
          max-width: 33.333%;
		  float: left;
        }
}
	#travel-app-container {
        @media #{$brk-narrow}{
	    clear: left;
	}
        @media #{$brk-wide} {
            clear: none;
        }
}

/* ---- skills ---- */

	.skills-image {
        @media #{$brk-narrow}{
		max-width: 60%;
		margin: auto;
		float: left;
	}
}

	.skill-list ul{
        @media #{$brk-narrow}{
		max-width: 40%;
		margin-top: 3em;
		padding-left: 10px;
		float: right;
	}
}

/* ---- Hobbies ---- */

    .hobbies-image {
        @media #{$brk-narrow}{
		max-width: 60%;
		margin: auto;
		float: right;
	}
}
	.hobbies-list ul{
        @media #{$brk-narrow}{
		max-width: 40%;
		margin-top: 3em;
		padding-left: 10px;
		float: left;
	}
}
    .hobbie-text {
        @media #{$brk-narrow}{
        font-size: 1.2em;
        margin-top: 1em;
        float: right;
        justify-content: space-around;
        color: $darkgolden;
        font-weight: bold;
    }
}
	.contact {
        @media #{$brk-narrow}{
		max-width: 70%;
		margin-bottom: 40px;
	}
}