.main-description {
  text-align: center;
  padding: 0 15px;
  @extend %margin-1;
  
    @media #{$brk-narrow}{
		  max-width: 95%;
    }
}

	.wrapper {
        @media #{$brk-narrow}{
		max-width: 95%;
		margin: 0 auto;
	}
        @media #{$brk-wide}{
          max-width: 1024px;
		  margin: 20px auto;
        }
}