
* {
	box-sizing: border-box;
}

body {
    @include font(1.1rem, 1.6, normal, $grey);
    font-family: $font; 
    background-color: $white;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 2.5em;
}

h1,
nav,
h2,
footer {
    @include font(1rem);
	font-family: $bold-font;
}

a {
	text-decoration: none;
	color: $grey;
}

a:visited {
  color: $grey;
}

ul {
    list-style-type: none;
	@extend %margin-1;
	padding-left: 0;
}

img {
	max-width: 100%;
}


/* ------------------------------------
  Base Layout Styles
------------------------------------ */

/* ---- Navigation ---- */
.name a,
.main-nav li {
  display: block;
  max-width: 90%;
  @extend %centered;
  padding: 10px 15px;
  background-color: $white2;
  margin: 5px auto;
}
.name {
    font-size: 2em;
}

.main-nav li a {
  @include font(1.2rem);
  color: $grey;
  text-transform: capitalize;
}

.main-nav a:hover {
  color: $light-red;
}

/* ---- nav ---- */

nav {
  margin-bottom: 15px;
}

/*---- New Decorations/Items -----*/

	.name a {
        @media #{$brk-narrow}{
		background-color: inherit;
	}
        @media #{$brk-wide}{
            float: left;
        }
}
	.top-navigation {
        @media #{$brk-wide}{
		float: right;
	}
}
	.main-nav li {
        @media #{$brk-narrow}{
	  display: inline-block;
	  text-align: center;
	  padding: 10px 15px;
      background-color: inherit;
	}
}
	.main-nav ul {
        @media #{$brk-narrow}{
		margin: 0 auto;
		text-align: center;
	}
}

.nav {
    @media #{$brk-wide}{
        max-width: 100%;
    }
}
