//Color Variables

$white: #fafafa;
$grey: #3a3a3a;
$light-red: #e67670;
$white2: #fff;
$light-blue: #a1b1c1;
$light-grey: #94a2af;
$darkgolden: darkgoldenrod; 

// Media Query break points

$brk-narrow : '(max-width: 768px)';
$brk-wide   : '(max-width: 1024px)';